#button-neues-turnier {
    display: none;
}

#button-initialisierung-aendern {
    display: none;
}

#button-turnier-export {
    display: none;
}

#namen-spieler {
    display: none;
    float: left;
}

#namen-leistungsspieler {
    display: none;
}

#anzahl-spieler-ohne-namen {
    display: none;
    float: left;
}

#anzahl-leistungsspieler {
    display: none;
}

[id^="ergebnis-team-"] {
    /* float: left; */
}

#ergebnisfenster {
    /* padding: 2%; */
}

#button-ergebnisse-speichern {
    display: none;
    float: left;
}

#button-ergebnisse-abbrechen {
    display: none;
}