#namen-spieler {
    display: none;
    float: left;
}

#namen-leistungspieler {
    display: none;
}

#anzahl-spieler-ohne-namen {
    display: none;
}

#leistungsspieler-anzahl {
    display: none;
}